# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

/venv
/backend/__pycache__
/frontend/__pycache__
/frontend/node_modules
/frontend/dist
/frontend/build
/backend/houser/migrations
/backend/houser/static
/backend/houser/media